body {
    background-color: #111619;
    margin: 0;
    padding: 0;
    color: #0A100D;
}

h1 {
    margin: 20px;
    color: #0A100D;

}

#maindiv {
    display: flex;
    margin-top: 100px;
    width: 90vw;
    background-color: #171C23;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: Arial;
    color: white;
    min-height: 70vh;
}

.concertrows {
    display: none;
}

.contentdivs {
    font-size: 10px;
    display: inline-block;
    background-color: #45484F;
    width: 50%;
    margin: 2vw;
    overflow: auto;
}

table {
    width: 100%;
    list-style: none;
    color: black;
}

th, td {
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color:#fff;
}
th {
    background-color: black;
    color: white;
}

tr:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

tr:active {
    background-color: #87C38F;
    color: black;
    cursor: pointer;
}

.tablecontainer {
    background-color: #45484F;
    padding: 0;
    margin: 0;
    border: 0;
}