/*some basic css, should probably be upgraded*/

table,th, td {
  border-collapse: collapse;
  border:1px solid black;
  margin: 20px;
}

tr:nth-child(even) {background-color: gray}

.form {
  margin: 20px;
  line-height: 180%;
}
