body{
    margin:0;
    background-color:white;
    overflow-x:hidden;
}

#topbar {
    padding:0;
    position:fixed;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color:#212433;
    left:0;
    top:0;
    height:50px;
    margin:0;
    width:100vw;
    z-index:4;
    box-shadow: 50px -48px 2px 50px black;
    display: inline-block;
}

#nav {
    vertical-align: top;
    display: inline-block;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding:0;
    background-color:#212433;
    height:50px;
    margin:0;
    z-index:5;
}

.buttons{
    vertical-align: top;
    display: inline-block;
    padding:0;
    -webkit-app-region: no-drag;
    background-color:#212433;
    height:50px;
    margin:0;
    z-index:5;
    color: darkgrey;
    line-height:45px;
    text-align: center;
    width: 45px;
}

#home {
    width: 100px;
}

#nav {
    width:calc(100vw - 50px - 50px - 50px - 100px - 5px);
}
#close{
    font-size:2em;
}
#minimize{
}
#maximize{
    font-size:2em;
}
.buttons:hover{
    color:white;
    cursor: pointer;
}
::-webkit-scrollbar{
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

body::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(38, 50, 56, 0.76);
}

::-webkit-scrollbar-thumb:hover{
  background-color: #364248;
}

::-webkit-scrollbar-thumb:active{
  background-color: #333;
}