body{
    margin:0;
    background-color:white;
    overflow-x:hidden;
    padding:0;
}
#nav li{
    display:inline-block;
    color:white;
    margin-left:15vw;   
    font-size:1.4em;
    line-height:50px;
    transition: color .5s;
}
#nav li:hover{
    cursor:pointer;
    color:#fff;
}
#nav{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding:0;
    position:fixed;
    background-color:#263238;
    left:0;   
    top:0;
    height:50px;  
    margin:0; 
    width:calc(100vw - 100px);
    z-index:5;
    box-shadow: 50px -48px 2px 50px black;
}
#buttons{
    margin:0;
    padding:0;
    -webkit-user-select: none;
    background-color:#263238; 
    width:100px;
    position: fixed;
    right:0;
    top:0;
    z-index:6;
    height:50px;
    text-align: center;
}
#buttons div{
    margin:0;
    padding:0;
    display:inline-block;
    width:25px;
    height:25px;
    color:#ccc;
    transition: color .5s;
    position: absolute;
    line-height:25px;

}
#close{
    top:10px;
    font-size:2em;    
    left:67px;
}
#minimize{
    left:0;
    top:10px;
}
#maximize{
    top:8px;
    font-size:2em;
    left:33px;
    position: absolute;
}
#buttons div:hover{
    color:white;
    cursor: pointer;
}  
#backgroundpic{
    z-index:-1;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
}
#trans{
    z-index:2;
    background-color:transparent;
    width:100vw;
    height:400px;
    line-height:200px;
    text-align:center;
}
#bottom{
    padding:0;
    line-height:200px;
    text-align:center;
    z-index:2;
    height:200px;
    width:100vw;
    background-color:#263238;
    color:white;
}
.content{
    padding:0;
    margin:0;
    line-height:200px;
    z-index:2;
    width:100vw;
    text-align:center;
    height:200px;
    background-color:white;
}
h1{
    margin:0;
}
::-webkit-scrollbar{
    z-index:6;
    width: 9px;
    height:9px;
}

::-webkit-scrollbar-track-piece{
    z-index:6;  
  background: transparent;
}

::-webkit-scrollbar-track-piece:no-button{
}

::-webkit-scrollbar-thumb{
    z-index:6;
  background-color: hsl(200, 19%, 13%);
  border-radius: 3px;
}
#wrapper{
    position:fixed;
    top:50px;
    width:100vw;
    overflow-x: hidden;
    height:calc(100vh - 50px);
}
#p1{
    position: absolute;
    width: 100vw;
    padding:0;
    margin:0;
}
#p2{
    position: absolute;
    width: 100vw;
    left:-50vw;
    padding:0;
    margin:0;
}
.imageslider{
    width:100vw;
    height:50vh;
    padding:0;
    margin:0;
    position: relative;
}
#trackpiece{
    width:200px;
    z-index:3;
    position: absolute;
    left:calc(50vw - 200px);
    top:calc(25vh - 100px);
}
#trackpiece:hover{
    cursor:col-resize;
}
#slider1{
    overflow: hidden;
    z-index: 2;
    width:50vw;
    height:50vh;
    left:0;
    top:0;
    position: absolute;
    padding:0;
    margin:0;
}
#slider2{
    overflow: hidden;
    z-index: 2;
    width:50vw;
    height:50vh;
    left:50vw;
    top:0;
    position: absolute;
    padding:0;
    margin:0;
}
img,div{
    user-select: none;
    -webkit-user-drag: none;
}