body{
    margin:0;
    background-color:white;
    overflow-x:hidden;
}
#nav li{
    display:inline-block;
    color:white;
    margin-left:5vw;   
    font-size:1.4em;
    line-height:50px;
    transition: color .5s;
    -webkit-app-region: no-drag;
}
#nav li:hover{
    cursor:pointer;
    color:red;
}
#nav{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding:0;
    position:fixed;
    background-color:#263238;
    left:0;   
    top:0;
    height:50px;  
    margin:0; 
    width:calc(100vw - 100px);
    z-index:5;
    box-shadow: 50px -48px 2px 50px black;
}
#buttons{
    -webkit-app-region: drag;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    background-color:#263238; 
    width:100px;
    position: fixed;
    right:0;
    top:0;
    z-index:6;
    height:50px;
    text-align: center;
}
#buttons div{
    margin:0;
    padding:0;
    display:inline-block;
    width:25px;
    height:25px;
    color:#ccc;
    transition: color .5s;
    position: absolute;
    line-height:25px;
    -webkit-app-region: no-drag;

}
#close{
    top:10px;
    font-size:2em;    
    left:67px;
}
#minimize{
    left:0;
    top:10px;
}
#maximize{
    top:8px;
    font-size:2em;
    left:33px;
    position: absolute;
}
#buttons div:hover{
    color:white;
    cursor: pointer;
}
img{
    z-index:-1;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
}
#trans{
    z-index:2;
    background-color:transparent;
    width:100vw;
    height:200px;
    line-height:20vh;
    text-align:center;
}
#bottom{
    padding:0;
    line-height:400px;
    text-align:center;
    z-index:2;
    height:400px;
    width:100vw;
    background-color:#263238;
    color:white;
}
.content{
    padding-top:100px;
    margin:0;
    z-index:2;
    width:100vw;
    text-align:center;
    height:400px;
    background-color:white;
}
h1{
    margin:0;
}
::-webkit-scrollbar{
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

body::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

::-webkit-scrollbar-track-piece:no-button{
}

::-webkit-scrollbar-thumb{
  background-color: rgba(38, 50, 56, 0.76);

}

::-webkit-scrollbar-thumb:hover{
  background-color: #364248;
}

::-webkit-scrollbar-thumb:active{
  background-color: #333;
}