extends layout

block content
    div#maindiv
        h1 Festivaler:
        ul#concertlist



block scripts
    script(src='../js/arr-main.js')

block head
    link(rel="stylesheet" type="text/css" href="../css/arr-main.css")

