extends layout

block content
    div.content
        p Welcome, #{username}!
        input(type='text')#nameinput
        button#usernamebtn change username
        h1 This is the front page
        | We are using node <script>document.write(process.versions.node)</script>,
        | Chrome <script>document.write(process.versions.chrome)</script>,
        | and Electron <script>document.write(process.versions.electron)</script>.
    div#trans
        h1 Ok this is getting ridiculous
    div.content
    div#bottom
        h1 This is a div

block scripts
    script(src="../js/index.js")
