doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel="stylesheet" type="text/css" href="../css/nav.css")
        block head
    body
        include ../includes/navigation
        block content

    script(src='../js/init.js')
    block scripts
