extends layout

block content
    div#maindiv
        div#search
            input(id='searchBar' placeholder='Search for bands')
        div#table
            table#searchResults
                tr
                    each val in ['Band', 'Manager', 'Genre', 'Technical Needs']
                        th= val
        div#header
            h2 Selected Band
        div#techincal
            table#display
                tr
                    each val in ['Band', 'Manager', 'Genre', 'Technical Needs']
                        th= val
            textarea#needsInput(name="Needs", cols="50", rows="10", placeholder="Write technical needs here" value="")
            span#error
        div#submit
            button#submitButton Submit
block scripts
    script(src='../js/man-main.js')

block head
    link(rel="stylesheet" type="text/css" href="../css/man-main.css")
