ul#nav
    li#home Home
    li#man Manager
    li#arr Arrangør
    li#bookresp Bookingansvarlig
    li#bookchief Bookingsjef
    li#tech Tekniker
div#buttons
    div#minimize &#65343;
    div#maximize &#9633;
    div#close &times;

script(src='../js/navigation.js')